a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #ccc;
}

ul {
    list-style-type: none;
}

img {
    width: 100%;
}

h3 {
    font-size: 26px;
    font-weight: 300;
}

h4 {
    color: #00ed82;
    font-size: 13px;
    text-transform: uppercase;
}

