.btn {
    display: inline-block;
    background: #fff;
    color: #333;
    min-width: 135px;
    padding: 20px 32px;
    font-size: 15px;
    font-weight: 600;
    line-height: 14px;
    border: none;
    border-radius: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    text-transform: uppercase;
}

.btn-cta:hover {
    opacity: 0.8;
}

.btn-outline {
    background: none;
    color: #fff;
    border: 2px solid #fff;
}

.btn-outline:hover {
    color: #fff;
    border-color: #ccc;
}

.btn-dark {
    background: #000;
    color: #fff;
}